*{
  box-sizing: border-box;
}
.login-button{
  width: 50px;
}
.G-login{
  cursor:pointer;
}
.userPhoto{
  width: 30px;
  border-radius: 50%;
}
#dropdown{
  margin-right: 70px;
}
.formBox{
  border:  1px solid #d3b1b1;
  border-radius: 3px;
}